
@{
    ViewBag.Title = "ComHome_PageLoad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>COMPONY HOME</h2>
<ul>
    <li><a href="@Url.Action("PostJob_PageLoad", "PostJob")" class="elements"><span>Post a new Job</span></a></li>
    <li>View Details</li>
    <li>Status Of Posted Job</li>
    <li></li>
    <li></li>


</ul>

