@model JOBSEARCHWEBAPPMVC.Models.ComLoginCls
@{
    ViewBag.Title = "UserLogin_PageLoad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UserLogin_PageLoad</h2>

@using (Html.BeginForm("UserLogin_Click", "UserLogin", FormMethod.Get))
{
    <div>
        <label>USERNAME:</label>
        @Html.TextBoxFor(m => m.Username)
        @*@Html.ValidationMessageFor(m => m.Name)*@
    </div>
    <div>
        <label>PASSWORD:</label>
        @Html.PasswordFor(m => m.Password)
        @*@Html.ValidationMessageFor(m => m.C_Type)*@
    </div>
    <div>
        <input type="submit" value="ok" text="REGISTER" />
        @Html.DisplayFor(m => m.Msg)
    </div>
    <div>
        New Compony should  <a href="@Url.Action("Reg_PageLoad", "CRegistration")" class="elements">
            <span>register here </span>
        </a>
    </div>
}